.dx-toolbar .dx-toolbar-items-container {
    height: 35px;
    overflow: visible;
}

html,
body {
    margin: 0;
    font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
    height: 100vh;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.horizontal-full {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.horizontal-full-0 {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 0px;
}

.horizontal-full-100pct {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100pct;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.vertical-100pct {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.vertical-full {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.vertical-full-0 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0px;
}

.vertical-full-100pct {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.full {
    flex: 1
}

.height-0 {
    height: 0;
}

.height-100pct {
    height: 100%;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.width-250 {
    width: 250px;
}

.width-350 {
    width: 350px;
}

.width-450 {
    width: 450px;
}

.width-550 {
    width: 550px;
}

.height-250 {
    height: 250px;
}

.height-350 {
    height: 350px;
}

.blue-light {
    background-color: lightblue;
}

.gray-light {
    background-color: lightgray;
}

.lategray-light {
    background-color: lightslategray;
}

.white-light {
    background-color: #fff;
}

.green-light {
    background-color: lightseagreen;
}

.invisible {
    display: none;
}